/*! ---------Font----------- !*/
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/Myriad Pro Regular.ttf");
  font-weight: normal;
  font-style: normal; }

:root{
  --primary-color:#24afad;
  --main-BG-color:#242b2e;

}

.menubg { 
  background-image: -moz-linear-gradient( 90deg, rgb( 0, 0, 0 ) 0%, rgb( 255, 255, 255 ) 100%); 
  background-image: -webkit-linear-gradient( 90deg, rgb( 0, 0, 0 ) 0%, rgb( 255, 255, 255 ) 100%); 
}

/*! ---------Font----------- !*/
html,
body {
  background-color: #ffffff;
  height: 100%;
  color: #101030;
  font-family: "OpenSans-Light";
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0; }
  .nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: relative;
    top: 0px;
    float: left;
    width: 300px;
    height: 100%;
    color: #e1ffff;
    box-shadow: 0 5px 18px 9px #333;
    /* display: none; */
    z-index: 5;
  }
  
  .nav-side-menu .brand {
    background-color: #fff;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 40px;
    height: 140px;
    font-weight: 400;
    padding-top: 40px;
    color: #364048;
  }
  
  .nav-side-menu .toggle-btn {
    display: none;
  }
  
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0;
    margin: 0px;
    line-height: 35px;
    background-image: -moz-linear-gradient( 90deg,#2f363a  0%,  #333b3f 100%);
    background-image: -webkit-linear-gradient( 90deg,#2f363a  0%,  #333b3f 100%);
    cursor: pointer;
    /*    
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
    text-align: right;
    font-size: 18px;
  }
  
  .nav-side-menu ul:not(collapsed) .arrow:before,
  .nav-side-menu li:not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
  }
  
  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    background: #22adab;
  }
  
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
  }
  
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
  }
  
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
  }
  
  .nav-side-menu ul .sub-menu li:before,
  .nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  
  .nav-side-menu li {
    padding: 8px 25px 8px;
    border-bottom: 1px solid #293034;
  }
  
  .nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
  }
  
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }
  
  .nav-side-menu li:hover {
    background: #22adab;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  

  /* Flexbox try */
  
/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */

.container-scroll {
    overflow-x: auto;
    position: relative;
    width: calc( 100% - 300px );
    float: left;
    overflow-y: hidden;
    height: 100vh;
}
.row.no-wrap {
    flex-wrap: nowrap;
}

.row.no-wrap img:hover {
  content: url('/images/hoverimg.png');
}
.social-media-link--facebook:before {
  background-image: linear-gradient(45deg, #fff 0%,  #fff 49%, #5f7aae 50%);
}
.social-media-link--twitter:before {
  background-image: linear-gradient(45deg,  #fff 0%,  #fff 49%, #5ac2f0 50%);
}
.social-media-link--instagram:before {
  background-image: linear-gradient(45deg,  #fff 0%,  #fff 49%, #4d4d4d 50%);
}
.social-media-link--linkedin:before {
  background-image: linear-gradient(45deg,  #fff 0%,  #fff 49%, #4390b5 50%);
}
.social-media-link--youtube:before {
  background-image: linear-gradient(45deg,  #fff 0%,  #fff 49%, #c34a47 50%);
}
.social-media-links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}
.social-media-link {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #434343;
  font-size: 20px;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.social-media-link > i {
  z-index: 1;
}
.social-media-link:before {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  content: "";
  position: absolute;
  background-size: 300%;
  background-position: 0% 0%;
  transition: background-position 0.55s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}
.social-media-link:hover, .social-media-link:active, .social-media-link:focus {
  transform: translateY(-16px);
 /* This padding-bottom helps the pointer do stay inside the link, avoiding the animation to flicker. */
  padding-bottom: 32px;
}
.social-media-link:hover:before, .social-media-link:active:before, .social-media-link:focus:before {
  background-position: top right;
}
.social-media-link + .social-media-link {
  margin-left: 4px;
}
.bottom-menu {
  display: block;
  position: fixed;
  bottom: 5px;
  left: 24px;
}

.copyrights {
  padding: 10px 0;
  text-align: center;
  font-size: 13px;
}
a.social-media-link:hover {
  color: white;
  text-decoration: none;
}

.customstatic {
  border: 1px solid #ddd;
  width: 41.5%;
  height: 65vh;
  background: #e3e3e3;
  position: fixed;
  left: 300px;
}

.Middletext {
  display: flex;
  align-items: center;
  height: 65vh;
}

h1 {
  display: block;
  width: 100%;
}
/* Scrollbar style */

 ::-webkit-scrollbar-track
 {
   background-color: #8df8f6;
 }
 
::-webkit-scrollbar
 {
   width: 10px;
   height: 13px;
   background-color: #8df8f6;
 }
 
::-webkit-scrollbar-thumb
 {
   background-color: #148e8c;
 }
 

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}



@media (max-width: 767px) {
  .customstatic{
    display: none;
  }
  .copyrights{
    color:#000;
  }
  .fixed-static.row.no-gutters .row img {
    width: 100%;
  }
  
  .container-scroll {
    width: 100%;
    height:auto;
  }
  .nav-side-menu .brand{
    padding:10px;
    height: auto;
    font-size: 28px;
  }
  .row.no-wrap.no-gutters {
    flex-wrap: inherit;
  }
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
    height: auto;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 23px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
